/* 样式设置 */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  height: 100%;
  touch-action: manipulation;
}

footer {
  background-color: black;
  color: white;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: auto;
}

@supports (bottom: constant(safe-area-inset-bottom)) or (bottom: env(safe-area-inset-bottom)) {
  footer{
      padding-bottom: constant(safe-area-inset-bottom);
      padding-bottom: env(safe-area-inset-bottom);
  }
}

h1 {
  font-size: 2.2rem;
}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
}

.choose-mode {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
  row-gap: 5px;
}

.start-button {
  background-color: white;
  color: black;
  font-size: 1.7rem;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
}

.question {
  font-size: 3rem;
  margin-bottom: 20px;
}

.answer input {
  font-size: 2rem;
  font-family: Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  width: auto;
  margin-bottom: 20px;
  border: none;
  background-color: black;
  color: cyan;
  outline: none;
}

.digits {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.digit {
  background-color: white;
  color: black;
  font-size: 1.5rem;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.timer,
.score {
  margin-top: 20px;
  font-size: 1.5rem;
}

.feedback {
  margin-top: 65px;
  margin-bottom: 65px;
  font-size: 1.5rem;
  display: none;
}

@media (max-width: 600px) {
  .question {
    font-size: 2rem;
  }

  .digit {
    font-size: 1.2rem;
  }
}

/* Modal (Help Box) Styles */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black background with transparency */
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: rgba(50, 50, 50, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: left; /* 使内容不居中 */
  width: 80%; /* 设置宽度 */
  max-width: 960px;
  margin: auto; /* 使其水平居中 */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.footer-items {
  margin-left: 10px;
  margin-right: 10px;
  justify-content: space-between;
  color: white;
  text-decoration: underline;
}